@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.swiper-button-disabled {
  opacity: 0 !important;
}